@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-theme-rosa: #f2b6c1;
  --color-theme-indigo: #ace5f2;
  --color-theme-purpura: #cdc1ff;
  --color-theme-hueso: #faf9f6;
  --color-theme-negro: #1a1a1d;
  --color-theme-gris: #373a40;

  --font-titulo: "Noto Serif Variable", serif;
  --default-font-family: "Josefin Sans Variable", sans-serif;
}

body {
  background-color: var(--color-theme-hueso);
  color: var(--color-theme-negro);
}

html {
  scroll-behavior: smooth;
}
