---
import Layout from "../layouts/Layout.astro";
---

<Layout
  titulo="Confecciones únicas con estilo propio"
  descripcion="Diseñadas con dedicación para personas únicas como tú."
>
  <h1>SOBRE MI</h1>
</Layout>
