---
interface Props {
  frase: string;
}

const { frase } = Astro.props as Props;
---

<a
  href="https://api.whatsapp.com/send?phone=56968058495&text=Hola,%20me%20interesa%20tu%20producto!"
  class="bg-theme-rosa hover:text-theme-negro hover:bg-theme-indigo text-md mt-3 mb-3 inline-block transform px-4 py-2 font-semibold text-white transition-all duration-300 ease-in-out hover:scale-110 2xl:px-8 2xl:py-4 2xl:text-lg"
  >{frase}
</a>
