<div class="bg-blue-800">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem hic,
    itaque ex recusandae dignissimos beatae sed tempore molestiae nihil a
    pariatur sequi aut at reiciendis possimus, culpa quasi nesciunt dicta
    voluptate, amet consectetur? Placeat nam eum dolores quod ipsa facilis
    nostrum natus enim quia ipsam non, aut optio excepturi rerum porro sequi
    impedit. Possimus voluptate id quibusdam laudantium quidem distinctio
    ratione, cum expedita consectetur numquam. Pariatur corporis a totam esse
    quasi, autem dolorem animi sint, quo beatae omnis dicta commodi dolorum
    reiciendis fuga tenetur hic enim ipsum recusandae laborum, id sequi iusto.
    Temporibus sapiente ipsam, obcaecati autem ipsa reprehenderit ad.
  </p>
</div>
