---
import BotonWhatsapp from "./BotonWhatsapp.astro";
---

<section
  id="inicio"
  class="relative flex min-h-full w-full items-center justify-center overflow-hidden bg-cover bg-center"
  style="background-image: url('/desfile.webp')"
>
  <div class="absolute inset-0 bg-black/70"></div>

  <div
    class="text-theme-hueso/90 absolute bottom-0 left-0 flex w-full flex-col items-center pb-8 text-center"
  >
    <div class="flex max-w-3xl flex-col items-center 2xl:max-w-6xl">
      <h1 class="font-titulo mb-6 transform text-5xl capitalize 2xl:text-7xl">
        Confecciones únicas con estilo propio
      </h1>
      <p class="mb-7 text-sm leading-relaxed text-pretty 2xl:text-lg">
        No solo confecciono ropa, <strong>creo piezas</strong> que reflejan tu <strong
          >esencia</strong
        > y te hacen sentir <strong>únic@</strong> en cada paso. <strong
          >Descubre nuestras creaciones</strong
        > y encuentra el estilo que te representa.
      </p>
      <BotonWhatsapp frase="¡Haz tu pedido por WhatsApp!" />
    </div>
  </div>
</section>
