---

---

<section
  class="relative mt-36 flex min-h-[50vh] w-full items-center justify-center overflow-hidden bg-cover bg-center"
  style="background-image: url('/desfile.webp')"
>
  <div class="absolute inset-0 bg-black/60"></div>

  <div
    class="text-theme-hueso absolute bottom-0 left-0 flex w-full flex-col items-center pb-8 text-center"
  >
    <div class="flex flex-col items-center">
      <h1 class="font-titulo mb-3 font-black md:text-4xl xl:text-5xl">
        Confecciones únicas con estilo propio
      </h1>
      <p class="mb-7 md:text-xl">
        No solo confecciono ropa, creo piezas que reflejan tu esencia y te hacen
        sentir únic@ en cada paso que das.
      </p>
      <a
        href="#productos"
        class="text-theme-hueso bg-theme-rosa hover:text-theme-negro hover:bg-theme-indigo mb-2 inline-block transform px-8 py-3 font-semibold transition-all duration-300 ease-in-out hover:scale-110 md:text-lg lg:text-xl xl:text-2xl"
      >
        Ver productos
      </a>
    </div>
  </div>
</section>
