<section
  id="inicio"
  class="relative flex min-h-full w-full items-center justify-center overflow-hidden bg-cover bg-center"
  style="background-image: url('/desfile.webp')"
>
  <div class="absolute inset-0 bg-black/70"></div>

  <div
    class="text-theme-hueso/90 absolute bottom-0 left-0 flex w-full flex-col items-center pb-8 text-center"
  >
    <div class="flex max-w-6xl flex-col items-center">
      <h1
        class="font-titulo mb-6 scale-y-105 transform font-normal tracking-widest capitalize md:text-4xl xl:text-8xl"
      >
        Confecciones únicas con estilo propio
      </h1>
      <p class="mb-7 leading-relaxed text-pretty md:text-xl">
        No solo confecciono ropa, creo piezas que reflejan tu esencia y te hacen
        sentir únic@ en cada paso que das.
      </p>
      <a
        href="#novedades"
        class="text-theme-hueso bg-theme-rosa hover:text-theme-negro hover:bg-theme-indigo mt-3 mb-14 inline-block transform px-8 py-3 font-semibold transition-all duration-300 ease-in-out hover:scale-110 md:text-lg lg:text-xl xl:text-2xl"
      >
        Ver productos
      </a>
    </div>
  </div>
</section>
