<header
  class="fixed top-0 right-0 left-0 z-10 h-20 bg-white shadow-lg backdrop-blur-sm 2xl:h-36"
>
  <div
    class="text-md mx-auto flex h-full max-w-4xl items-center justify-between px-4 py-6 2xl:max-w-6xl 2xl:text-lg"
  >
    <a href="/inicio">
      <img
        src="/logo-andreita-confecciones.webp"
        alt="Logo de Andreita Confecciones"
        class="h-14 2xl:h-24"
      />
    </a>
    <nav
      class="flex flex-row"
      role="navigation"
      aria-label="Navegación principal"
    >
      <ul class="flex flex-row justify-between text-sm font-medium 2xl:text-lg">
        <li>
          <a
            href="#inicio"
            class="hover:bg-theme-indigo px-4 py-2 transition-colors duration-300 2xl:px-6 2xl:py-4"
          >
            Inicio
          </a>
        </li>
        <li>
          <a
            href="#top"
            class="hover:bg-theme-indigo px-4 py-2 transition-colors duration-300 2xl:px-6 2xl:py-4"
          >
            Productos
          </a>
        </li>
        <li>
          <a
            href="#contacto"
            class="hover:bg-theme-indigo px-4 py-2 transition-colors duration-300 2xl:px-6 2xl:py-4"
          >
            Contacto
          </a>
        </li>
        <li>
          <a
            href="#sobre-mi"
            class="hover:bg-theme-indigo px-4 py-2 transition-colors duration-300 2xl:px-6 2xl:py-4"
          >
            Sobre mí
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- <script>
  document.addEventListener("DOMContentLoaded", () => {
    const scrollLinks = document.querySelectorAll('a[href^="#"]');

    scrollLinks.forEach((link) => {
      link.addEventListener("click", (event) => {
        event.preventDefault();

        const targetId = link.getAttribute("href")?.substring(1);
        const targetElement = document.getElementById(targetId || "");

        const offset = parseInt(link.getAttribute("data-offset") || "200", 10);

        if (targetElement) {
          window.scrollTo({
            top: targetElement.offsetTop - offset,
            behavior: "smooth",
          });
        }
      });
    });
  });
</script> -->
