<header
  class="fixed top-0 right-0 left-0 z-10 h-36 bg-white backdrop-blur-sm xl:h-20"
>
  <div
    class="mx-auto flex h-full max-w-5xl items-center justify-between px-4 py-6 text-lg xl:max-w-4xl"
  >
    <a href="/">
      <img
        src="/logo-andreita-confecciones.webp"
        alt="Logo de Andreita Confecciones"
        class="w-40 xl:w-24"
      />
    </a>
    <nav
      class="flex flex-row"
      role="navigation"
      aria-label="Navegación principal"
    >
      <ul class="flex flex-row justify-between text-lg font-medium xl:text-sm">
        <li>
          <a
            href="#inicio"
            class="hover:bg-theme-indigo xlS:py-2 px-6 py-4 transition-colors duration-300 xl:px-4"
          >
            Inicio
          </a>
        </li>
        <li>
          <a
            href="#top"
            data-offset="250"
            class="hover:bg-theme-indigo xlS:py-2 px-6 py-4 transition-colors duration-300 xl:px-4"
          >
            Productos
          </a>
        </li>
        <li>
          <a
            href="#sobre-mi"
            data-offset="120"
            class="hover:bg-theme-indigo xlS:py-2 px-6 py-4 transition-colors duration-300 xl:px-4"
          >
            Sobre mí
          </a>
        </li>
        <li>
          <a
            href="#contacto"
            class="hover:bg-theme-indigo xlS:py-2 px-6 py-4 transition-colors duration-300 xl:px-4"
          >
            Contacto
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const scrollLinks = document.querySelectorAll('a[href^="#"]');

    scrollLinks.forEach((link) => {
      link.addEventListener("click", (event) => {
        event.preventDefault();

        const targetId = link.getAttribute("href")?.substring(1);
        const targetElement = document.getElementById(targetId || "");

        const offset = parseInt(link.getAttribute("data-offset") || "200", 10);

        if (targetElement) {
          window.scrollTo({
            top: targetElement.offsetTop - offset,
            behavior: "smooth",
          });
        }
      });
    });
  });
</script>
