---
import Iconos from "./Iconos.astro";
---

<header
  class="fixed top-0 right-0 left-0 z-10 h-20 bg-white shadow-lg backdrop-blur-sm 2xl:h-36"
>
  <div
    class="text-md mx-auto flex h-full max-w-4xl items-center justify-around py-6 md:max-w-2xl md:justify-between 2xl:max-w-6xl 2xl:text-lg"
  >
    <a href="#inicio">
      <img
        src="/logo-andreita-confecciones.webp"
        alt="Logo de Andreita Confecciones"
        class="h-14 2xl:h-24"
      />
    </a>
    <nav
      class="flex flex-row md:flex md:flex-row md:items-center md:justify-between"
      role="navigation"
      aria-label="Navegación principal"
    >
      <button class="text-theme-gris text-3xl lg:hidden" id="hamburger-button">
        <Iconos type="hamburguesa" class="hamburguesa-icon" />
        <Iconos type="cerrar" class="equis-icon hidden" />
      </button>
      <ul
        id="nav-links"
        class="text-md hidden flex-row justify-between font-medium lg:flex lg:flex-row lg:gap-6 2xl:text-lg"
      >
        <li>
          <a
            href="#inicio"
            class="hover:bg-theme-indigo px-4 py-2 transition-colors duration-300 2xl:px-6 2xl:py-4"
            >Inicio</a
          >
        </li>
        <li>
          <a
            href="#productos"
            class="hover:bg-theme-indigo px-4 py-2 transition-colors duration-300 2xl:px-6 2xl:py-4"
            >Productos</a
          >
        </li>
        <li>
          <a
            href="#historia"
            class="hover:bg-theme-indigo px-4 py-2 transition-colors duration-300 2xl:px-6 2xl:py-4"
            >Historia</a
          >
        </li>
        <li>
          <a
            href="#contacto"
            class="hover:bg-theme-indigo px-4 py-2 transition-colors duration-300 2xl:px-6 2xl:py-4"
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <!-- Menú para pantallas pequeñas -->
  <div id="mobile-menu" class="hidden bg-white lg:hidden">
    <ul
      class="text-md flex flex-col items-center gap-2 pb-4 font-semibold 2xl:text-lg"
    >
      <li>
        <a
          href="#inicio"
          class="hover:bg-theme-indigo px-4 py-2 transition-colors duration-300 2xl:px-6 2xl:py-4"
          >Inicio</a
        >
      </li>
      <li>
        <a
          href="#productos"
          class="hover:bg-theme-indigo px-4 py-2 transition-colors duration-300 2xl:px-6 2xl:py-4"
          >Productos</a
        >
      </li>
      <li>
        <a
          href="#historia"
          class="hover:bg-theme-indigo px-4 py-2 transition-colors duration-300 2xl:px-6 2xl:py-4"
          >Historia</a
        >
      </li>
      <li>
        <a
          href="#contacto"
          class="hover:bg-theme-indigo px-4 py-2 transition-colors duration-300 2xl:px-6 2xl:py-4"
          >Contacto</a
        >
      </li>
    </ul>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const hamburgerButton = document.getElementById("hamburger-button");
    const mobileMenu = document.getElementById("mobile-menu");
    const hamburguesaIcon = document.querySelector(".hamburguesa-icon");
    const equisIcon = document.querySelector(".equis-icon");

    if (hamburgerButton && mobileMenu && hamburguesaIcon && equisIcon) {
      hamburgerButton.addEventListener("click", () => {
        mobileMenu.classList.toggle("hidden");

        if (hamburguesaIcon) hamburguesaIcon.classList.toggle("hidden");
        if (equisIcon) equisIcon.classList.toggle("hidden");
      });
    }

    if (mobileMenu) {
      mobileMenu.addEventListener("click", (event) => {
        const target = event.target as HTMLElement | null;
        if (target && target.tagName === "A" && mobileMenu) {
          mobileMenu.classList.add("hidden");
          if (hamburguesaIcon) hamburguesaIcon.classList.remove("hidden");
          if (equisIcon) equisIcon.classList.add("hidden");
        }
      });
    }

    document.addEventListener("click", (event) => {
      const target = event.target as HTMLElement | null;
      if (
        target &&
        !target.closest("#mobile-menu") &&
        !target.closest("#hamburger-button") &&
        !target.closest("#nav-links")
      ) {
        if (mobileMenu && !mobileMenu.classList.contains("hidden")) {
          mobileMenu.classList.add("hidden");
          if (hamburguesaIcon) hamburguesaIcon.classList.remove("hidden");
          if (equisIcon) equisIcon.classList.add("hidden");
        }
      }
    });
  });
</script>
