<section id="novedades" class="mx-auto mt-52 w-full max-w-7xl">
  <div>
    <h2 class="font-titulo mb-20 text-7xl font-bold uppercase">Novedades</h2>
  </div>

  <div
    class="grid w-full [grid-auto-flow:dense] auto-rows-[200px] grid-cols-[repeat(auto-fill,minmax(250px,1fr))] gap-4"
  >
    <div
      class="col-span-2 row-span-4 flex flex-col items-center justify-between overflow-hidden bg-gray-700/20 py-6 transition-all duration-300 hover:scale-[1.03]"
    >
      <img
        src="/producto1-removebg-preview.png"
        class="h-full w-full object-contain"
      />
    </div>

    <div
      class="col-span-2 row-span-2 overflow-hidden bg-gray-700/20 transition-all duration-300 hover:scale-[1.03]"
    >
      <img
        src="/producto2-removebg-preview.png"
        class="h-full w-full object-contain"
      />
    </div>

    <div
      class="col-span-2 row-span-2 overflow-hidden bg-gray-700/20 transition-all duration-300 hover:scale-[1.03]"
    >
      <img
        src="/producto3-removebg-preview.png"
        class="h-full w-full object-contain"
      />
    </div>
  </div>
  <div class="mt-10 flex justify-center">
    <a
      href="https://api.whatsapp.com/send?phone=56968058495&text=Hola,%20me%20interesa%20tu%20producto!"
      class="bg-theme-indigo hover:bg-theme-rosa text-theme-negro mt-3 mb-14 inline-block transform px-8 py-4 font-semibold transition-all duration-300 ease-in-out hover:scale-110 hover:text-white md:text-lg lg:text-xl xl:text-2xl"
    >
      ¡Pincha aquí y Llevate el tuyo!
    </a>
  </div>
</section>
