<section
  id="novedades"
  class="mx-auto mt-14 w-full max-w-5xl px-4 2xl:mt-52 2xl:max-w-7xl 2xl:scroll-mt-80"
>
  <div>
    <h2 class="font-titulo mb-20 text-3xl font-bold uppercase 2xl:text-7xl">
      Novedades
    </h2>
  </div>

  <div
    class="grid-auto-flow:dense grid w-full auto-rows-auto grid-cols-[repeat(auto-fill,minmax(250px,1fr))] gap-4"
  >
    <div
      class="flex items-center justify-center bg-gray-700/20 transition-all duration-300 hover:scale-[1.03] 2xl:col-span-2 2xl:row-span-4"
    >
      <img
        src="/producto1-removebg-preview.png"
        class="aspect-square w-full p-6"
      />
    </div>

    <div
      class="flex items-center justify-center bg-gray-700/20 transition-all duration-300 hover:scale-[1.03] 2xl:col-span-2 2xl:row-span-2"
    >
      <img
        src="/producto2-removebg-preview.png"
        class="aspect-square w-full object-contain p-6"
      />
    </div>

    <div
      class="flex items-center justify-center bg-gray-700/20 transition-all duration-300 hover:scale-[1.03] 2xl:col-span-2 2xl:row-span-2"
    >
      <img
        src="/producto3-removebg-preview.png"
        class="aspect-square w-full object-contain p-6"
      />
    </div>
  </div>
  <div class="mt-10 flex justify-center">
    <a
      href="https://api.whatsapp.com/send?phone=56968058495&text=Hola,%20me%20interesa%20tu%20producto!"
      class="bg-theme-indigo hover:bg-theme-rosa text-theme-negro mt-3 mb-14 inline-block transform px-4 py-2 text-sm font-semibold transition-all duration-300 ease-in-out hover:scale-110 hover:text-white 2xl:px-8 2xl:py-4 2xl:text-lg"
    >
      ¡Pincha aquí y Llevate el tuyo!
    </a>
  </div>
</section>
