---
import Carrusel from "./Carrusel.astro";
---

<section
  id="productos"
  class="mx-auto mt-10 flex max-w-5xl scroll-mt-24 justify-start px-4 2xl:mt-52 2xl:max-w-7xl"
>
  <div class="mb-8 w-full">
    <h2 class="font-titulo text-3xl font-bold capitalize 2xl:text-7xl">
      Diseñados para destacar, hechos para durar
    </h2>

    <div
      class="mt-6 mb-10 flex w-full flex-wrap items-center justify-center gap-4"
    >
      <p>
        Cada producto nace de una idea que une necesidad, estilo y comodidad.
        Andreita crea pensando en lo práctico y lo bonito, con colores vivos y
        llenos de personalidad. La calidad se nota en cada puntada. Entre sus
        productos favoritos se encuentran: scrunchies, rumbas, polerones de
        temporada, bandanas y maxi cuellos. ¡Todo hecho para acompañarte con
        estilo!
      </p>
    </div>

    <Carrusel
      fondo={true}
      height="h-full"
      width="w-auto"
      filtro="[filter:drop-shadow(0_5px_5px_rgba(0,0,0,1))]"
      imagenes={[
        { src: "/rumba-3.webp", alt: "Rumbas rosada con vuelos negros" },
        { src: "/rumba-2.webp", alt: "Rumba negra con vuelos calipsos" },
        { src: "/rumba-1.webp", alt: "Rumba animal print con vuelos fucsias" },
        {
          src: "/poleron-1.webp",
          alt: "Poleron de tres colores, negro, palo rosa y animal print morado",
        },
        {
          src: "/bandana-1.webp",
          alt: "Bandana de tres colores, rosado, negro y animal print oscuro",
        },
        {
          src: "/bandana-2.webp",
          alt: "Bandana de tres colores, negro, animal print rosado y verde",
        },
      ]}
    />
  </div>
</section>
