---
import SocialMedia from "./SocialMedia.astro";
---

<section
  id="sobre-mi"
  class="bg-theme-purpura mt-52 mb-52 flex w-full flex-col items-center p-4"
>
  <div class="mt-52 mb-6 flex max-w-7xl justify-start">
    <h2
      class="font-titulo scale-y-105 transform text-5xl font-black tracking-widest uppercase"
    >
      🌸 Sobre mí 🌸
    </h2>
  </div>
  <div class="mb-52 max-w-7xl p-6">
    <p class="prose: mb-4 leading-relaxed md:text-xl">
      ¡Hola! <strong>Soy Andreita</strong>, mamá emprendedora y apasionada por
      la costura. Mi aventura comenzó en 2015, confeccionando delantales para
      jardines Integra en Peñaflor. Tras varios cursos de costura, en 2019
      decidí dar el gran paso y fundar mi propio emprendimiento: <strong
        >Andreita Confecciones.</strong
      >
    </p>
    <p class="mb-4 leading-relaxed md:text-xl">
      Empecé creando delantales de mezclilla y lona, y con el tiempo fui
      ampliando mi <strong>catálogo con productos</strong> como porta toallas higiénicas,
      tote bags, estuches para lentes, scrunchies, rumbas y bolsitas para Pascua
      de Resurrección, entre otros. Cada pieza la diseño y confecciono con
      <strong>dedicación y cariño</strong>, pensando en ofrecer productos que
      combinen funcionalidad y estilo.
    </p>
    <p class="mb-4 leading-relaxed md:text-xl">
      Puedes encontrar mis creaciones en el <strong
        >Parque Trapiche de Peñaflor</strong
      >, Pueblito Artesanos, pasillo uno, los <strong>sábados y domingos</strong
      >, o en mis redes sociales y solicitar tus envíos a través de Starken.
      ¡Gracias por apoyar este sueño hecho a mano!
    </p>
    <div class="mt-12 flex items-center justify-center gap-12">
      <SocialMedia type="instagram" size="h-8 w-8" />
      <SocialMedia type="facebook" size="h-8 w-8" />
      <SocialMedia type="tiktok" size="h-8 w-8" />
      <SocialMedia type="gmail" size="h-8 w-8" />
      <SocialMedia type="whatsapp" size="h-8 w-8" />
    </div>
  </div>
</section>
