---
const { type, size } = Astro.props;
---

<!-- SVG de Instagram -->{
  type === "instagram" && (
    <a
      href="https://www.instagram.com/andreita.confecciones_/"
      target="_blank"
      rel="noopener noreferrer"
      class="h-8 w-8 transition-all duration-300 ease-in-out hover:scale-120"
    >
      <svg
        width="48"
        height="48"
        enable-background="new 0 0 512 512"
        id="Layer_1"
        version="1.1"
        viewBox="0 0 512 512"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g>
          <>
            <g id="Background_1_">
              <>
                <radialGradient
                  cx="51.9924"
                  cy="13.5086"
                  gradientTransform="matrix(5.660332e-002 -1.08 0.918 4.811314e-002 -5.988 520.5566)"
                  gradientUnits="userSpaceOnUse"
                  id="SVGID_1_"
                  r="684.4449"
                >
                  <>
                    <stop offset="0" style="stop-color:#FED576" />
                    <stop offset="0.2634" style="stop-color:#F47133" />
                    <stop offset="0.6091" style="stop-color:#BC3081" />
                    <stop offset="1" style="stop-color:#4C63D2" />
                  </>
                </radialGradient>
                <path
                  d="M0,249.5v13.8C3.6,395.7,110.2,502,237.1,512h39C403.7,501.9,508.5,394.7,512,263.1v-13.6    C508.5,115.6,400.1,7,269.4,0.3C128.8-6.8,3.9,106,0,249.5z"
                  fill="url(#SVGID_1_)"
                />
              </>
            </g>
            <g id="Symbol">
              <g>
                <>
                  <path
                    d="M257.2,128.6c40.8,0,45.6,0.1,61.8,0.9c14.9,0.6,22.9,3.2,28.3,5.3c7.1,2.8,12.2,6.2,17.5,11.6     c5.3,5.4,8.7,10.6,11.5,17.8c2.1,5.5,4.5,13.7,5.3,28.9c0.8,16.4,0.9,21.3,0.9,62.8s-0.1,46.4-0.9,62.8     c-0.6,15.1-3.1,23.4-5.3,28.9c-2.8,7.2-6.1,12.4-11.5,17.8c-5.3,5.4-10.4,8.8-17.5,11.6c-5.4,2.2-13.5,4.7-28.3,5.3     c-16.1,0.8-21,0.9-61.8,0.9s-45.6-0.1-61.8-0.9c-14.9-0.6-22.9-3.2-28.3-5.3c-7.1-2.8-12.2-6.2-17.5-11.6s-8.7-10.6-11.5-17.8     c-2.1-5.5-4.5-13.7-5.3-28.9c-0.8-16.4-0.9-21.3-0.9-62.8s0.1-46.4,0.9-62.8c0.6-15.1,3.1-23.4,5.3-28.9     c2.8-7.2,6.1-12.4,11.5-17.8c5.3-5.4,10.4-8.8,17.5-11.6c5.4-2.2,13.5-4.7,28.3-5.3C211.5,128.8,216.4,128.6,257.2,128.6      M257.2,100.6c-41.5,0-46.7,0.2-62.9,1s-27.4,3.4-37.1,7.2c-10.1,4-18.6,9.3-27,18c-8.5,8.7-13.7,17.3-17.6,27.6     c-3.8,9.8-6.4,21.2-7.1,37.7c-0.8,16.5-0.9,21.8-0.9,64s0.2,47.5,0.9,64c0.8,16.5,3.4,27.8,7.1,37.7c3.9,10.2,9.1,18.9,17.6,27.6     s17,14,27,18c9.7,3.9,20.9,6.5,37.1,7.2c16.3,0.8,21.5,1,62.9,1s46.7-0.2,62.9-1c16.2-0.8,27.4-3.4,37.1-7.2     c10.1-4,18.6-9.3,27-18c8.5-8.7,13.7-17.3,17.6-27.6c3.8-9.8,6.4-21.2,7.1-37.7c0.8-16.5,0.9-21.8,0.9-64s-0.2-47.5-0.9-64     c-0.8-16.5-3.4-27.8-7.1-37.7c-3.9-10.2-9.1-18.9-17.6-27.6s-17-14-27-18c-9.7-3.9-20.9-6.5-37.1-7.2     C303.9,100.8,298.6,100.6,257.2,100.6L257.2,100.6z"
                    fill="#FFFFFF"
                  />
                  <path
                    d="M257.2,176.2c-43.4,0-78.4,35.7-78.4,79.8s35.1,79.8,78.4,79.8s78.4-35.7,78.4-79.8     S300.5,176.2,257.2,176.2z M257.2,307.8c-28.1,0-50.9-23.1-50.9-51.8s22.8-51.8,50.9-51.8s50.9,23.1,50.9,51.8     C308.1,284.7,285.3,307.8,257.2,307.8z"
                    fill="#FFFFFF"
                  />
                  <ellipse
                    cx="338.7"
                    cy="173"
                    fill="#FFFFFF"
                    rx="18.3"
                    ry="18.6"
                  />
                </>
              </g>
            </g>
          </>
        </g>
      </svg>
    </a>
  )
}

<!-- SVG de Facebook -->
{
  type === "facebook" && (
    <a
      href="https://www.facebook.com/profile.php?id=100063741957314&mibextid=wwXIfr"
      target="_blank"
      rel="noopener noreferrer"
      class="h-8 w-8 transition-all duration-300 ease-in-out hover:scale-120"
    >
      <svg
        width="48"
        height="48"
        viewBox="0 0 48 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M48 24C48 10.7438 37.2562 0 24 0C10.7438 0 0 10.7438 0 24C0 35.9813 8.775 45.9094 20.25 47.7094V30.9375H14.1562V24H20.25V18.7125C20.25 12.6984 23.8313 9.375 29.3156 9.375C31.9406 9.375 34.6875 9.84375 34.6875 9.84375V15.75H31.6594C28.6781 15.75 27.75 17.6016 27.75 19.5V24H34.4062L33.3422 30.9375H27.75V47.7094C39.225 45.9094 48 35.9813 48 24Z"
          fill="#1877F2"
        />
        <path
          d="M33.3422 30.9375L34.4062 24H27.75V19.5C27.75 17.6016 28.6781 15.75 31.6594 15.75H34.6875V9.84375C34.6875 9.84375 31.9406 9.375 29.3156 9.375C23.8313 9.375 20.25 12.6984 20.25 18.7125V24H14.1562V30.9375H20.25V47.7094C21.4734 47.9016 22.725 48 24 48C25.275 48 26.5266 47.9016 27.75 47.7094V30.9375H33.3422Z"
          fill="white"
        />
      </svg>
    </a>
  )
}

<!-- SVG de TikTok -->
{
  type === "tiktok" && (
    <a
      href="https://www.tiktok.com/@andreita.confecciones?_t=ZM-8vedmcZDGsg&_r=1"
      target="_blank"
      rel="noopener noreferrer"
      class="ttransition-all h-8 w-8 duration-300 ease-in-out hover:scale-120"
    >
      <svg
        width="48"
        height="48"
        viewBox="0 0 48 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M19.5156 18.9001V17.0279C18.8658 16.9359 18.2106 16.8881 17.5543 16.885C9.52906 16.885 3 23.4152 3 31.4405C3 36.3634 5.46035 40.7212 9.21355 43.3564C6.70047 40.6688 5.30332 37.1262 5.30535 33.4468C5.30535 25.5358 11.6486 19.0848 19.5156 18.9001"
          fill="#00F2EA"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M19.8586 40.0934C23.4392 40.0934 26.3602 37.245 26.4932 33.6952L26.5053 2.00632H32.2945C32.1709 1.34468 32.1084 0.673085 32.1076 0H24.2011L24.1879 31.69C24.056 35.2387 21.1339 38.086 17.5544 38.086C16.4797 38.0864 15.4212 37.8246 14.4707 37.3231C15.0844 38.1793 15.8932 38.8772 16.8301 39.3589C17.767 39.8407 18.8051 40.0924 19.8586 40.0934V40.0934ZM43.1089 12.7624V11.0012C40.9813 11.0032 38.8994 10.3843 37.1185 9.22028C38.6799 11.0181 40.7822 12.2609 43.11 12.7624"
          fill="#00F2EA"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M37.118 9.21909C35.3727 7.22207 34.4114 4.65954 34.4125 2.00732H32.2941C32.5684 3.47326 33.1373 4.86827 33.9665 6.10789C34.7957 7.34751 35.8678 8.40594 37.118 9.21909V9.21909ZM17.5539 24.7925C15.7917 24.7946 14.1023 25.4955 12.8562 26.7416C11.6102 27.9876 10.9093 29.677 10.9072 31.4392C10.9084 32.6514 11.2408 33.8403 11.8686 34.8773C12.4964 35.9142 13.3956 36.7599 14.4691 37.323C13.6517 36.1958 13.2116 34.839 13.2115 33.4467C13.2132 31.6843 13.914 29.9946 15.1601 28.7483C16.4062 27.502 18.0958 26.8009 19.8582 26.7989C20.5431 26.7989 21.1994 26.9121 21.8194 27.1067V19.0341C21.1697 18.9421 20.5144 18.8943 19.8582 18.8912C19.7427 18.8912 19.6295 18.8978 19.5152 18.9V25.1004C18.8809 24.8985 18.2195 24.7947 17.5539 24.7925"
          fill="#FF004F"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M43.1092 12.7623V18.9077C39.0086 18.9077 35.2103 17.5962 32.1079 15.37V31.4393C32.1079 39.4645 25.58 45.9936 17.5547 45.9936C14.4534 45.9936 11.5775 45.0152 9.21387 43.3552C10.5728 44.8206 12.2197 45.9896 14.0515 46.7889C15.8833 47.5881 17.8604 48.0004 19.8589 47.9999C27.8842 47.9999 34.4133 41.4709 34.4133 33.4467V17.3774C37.6182 19.682 41.467 20.9197 45.4145 20.9151V13.0064C44.623 13.0064 43.8534 12.9206 43.1092 12.7612"
          fill="#FF004F"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M32.1079 31.4392V15.37C35.3127 17.6748 39.1616 18.9125 43.1092 18.9077V12.7623C40.7817 12.2603 38.6797 11.0171 37.1188 9.21909C35.8686 8.40594 34.7964 7.34751 33.9672 6.10789C33.1381 4.86827 32.5691 3.47326 32.2948 2.00732H26.5056L26.4935 33.6962C26.3605 37.2449 23.4395 40.0934 19.8589 40.0934C18.8054 40.0923 17.7673 39.8404 16.8304 39.3587C15.8936 38.877 15.0848 38.1792 14.471 37.323C13.3973 36.7601 12.4978 35.9145 11.8698 34.8775C11.2418 33.8405 10.9092 32.6516 10.908 31.4392C10.91 29.677 11.6109 27.9876 12.857 26.7416C14.103 25.4955 15.7925 24.7946 17.5547 24.7925C18.2385 24.7925 18.8948 24.9047 19.5159 25.1004V18.9C11.6489 19.0847 5.30566 25.5357 5.30566 33.4467C5.30566 37.2724 6.79199 40.7552 9.21387 43.3562C11.6554 45.075 14.5689 45.9962 17.5547 45.9936C25.58 45.9936 32.1079 39.4645 32.1079 31.4392"
          fill="white"
        />
      </svg>
    </a>
  )
}

<!-- SVG de Gmail -->
{
  type === "gmail" && (
    <a
      href="mailto: barbara.a.zapata.r@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
      class="h-8 w-8 transition-all duration-300 ease-in-out hover:scale-120"
    >
      <svg
        width="48"
        height="48"
        viewBox="0 0 48 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24Z"
          fill="white"
        />
        <path
          d="M34.4697 33.23H13.5009C12.6878 33.23 12.0031 32.5667 12.0031 31.7322V16.5833C12.0031 15.7703 12.6664 15.0856 13.5009 15.0856H34.4697C35.2828 15.0856 35.9675 15.7489 35.9675 16.5833V31.7322C35.9675 32.5667 35.3042 33.23 34.4697 33.23Z"
          fill="#E3E3E3"
        />
        <path
          opacity="0.1"
          d="M14.9987 33.23L23.9639 26.0193L24.0281 25.6342L14.7847 18.9798L14.7633 32.9091L14.9987 33.23Z"
          fill="#231F20"
        />
        <path
          d="M13.5009 33.23C12.6664 33.23 12.0031 32.5667 12.0031 31.7322V16.5619C12.0031 15.7275 12.6664 15.5777 13.5009 15.5777C14.3354 15.5777 14.9987 15.7489 14.9987 16.5619V33.23H13.5009Z"
          fill="#D54B3D"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12.0031 16.5619C12.0031 15.7489 12.6664 15.5777 13.5009 15.5777C14.3354 15.5777 14.9987 15.7275 14.9987 16.5619V33.23H13.5009C12.6664 33.23 12.0031 32.5667 12.0031 31.7322V16.5619ZM14.7847 16.5619C14.7847 16.1126 14.5707 15.7917 13.5009 15.7917C12.4311 15.7917 12.2171 16.0912 12.2171 16.5619V31.7322C12.2171 32.4383 12.7948 33.016 13.5009 33.016H14.7847V16.5619Z"
          fill="#D72B27"
        />
        <path
          d="M34.4697 33.23H32.9719V16.5192C32.9719 15.6847 33.6352 15.5777 34.4697 15.5777C35.3041 15.5777 35.9674 15.6847 35.9674 16.5192V31.7536C35.9674 32.5667 35.3041 33.23 34.4697 33.23Z"
          fill="#D54B3D"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M32.9719 16.5192C32.9719 15.6847 33.6352 15.5777 34.4697 15.5777C35.3041 15.5777 35.9674 15.6847 35.9674 16.5192V31.7536C35.9674 32.5881 35.3041 33.2514 34.4697 33.2514H32.9719V16.5192ZM35.7535 16.5192C35.7535 15.9842 35.4325 15.7917 34.4697 15.7917C33.5068 15.7917 33.1859 15.9628 33.1859 16.5192V33.0374H34.4697C35.1758 33.0374 35.7535 32.4597 35.7535 31.7536V16.5192Z"
          fill="#D72B27"
        />
        <path
          d="M28.0507 33.23L12.1285 17.1842L12.966 17.5248L24.0495 25.5058L35.9675 16.7666V31.7536C35.9675 32.5667 35.3042 33.23 34.4697 33.23H28.0507Z"
          fill="url(#paint0_linear)"
        />
        <path
          d="M23.9639 26.0193L12.645 17.803C11.9817 17.3109 11.7892 16.3694 12.2813 15.7061C12.7734 15.0428 13.7363 14.893 14.421 15.3851L23.9853 22.3391L33.6138 15.2996C34.2771 14.8074 35.2186 14.9572 35.7107 15.6419C36.2028 16.3052 36.053 17.2467 35.3683 17.7388L23.9639 26.0193Z"
          fill="#D54B3D"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M33.5924 15.2782C33.8492 15.0856 34.1701 15 34.4697 15C34.9404 15 35.3897 15.214 35.6893 15.6419C36.16 16.3266 36.0103 17.2467 35.347 17.7388L23.9639 26.0407L12.645 17.803C11.9817 17.3108 11.7892 16.3694 12.2599 15.7061C12.5594 15.2996 13.0302 15.0856 13.5009 15.0856C13.8219 15.0856 14.1428 15.1712 14.3996 15.3637L23.9639 22.3177L33.5924 15.2782ZM35.5181 15.7489C35.2614 15.4065 34.8762 15.214 34.4697 15.214C34.1915 15.214 33.9348 15.2996 33.6994 15.4493L24.0923 22.4889L23.9639 22.5744L23.8355 22.4889L14.2926 15.5563C14.0786 15.3851 13.8005 15.2996 13.5223 15.2996C13.0944 15.2996 12.6878 15.5135 12.4525 15.8345C12.0459 16.3908 12.1957 17.2039 12.7734 17.6318L23.9639 25.7625L35.24 17.5462C35.7963 17.1183 35.9247 16.3266 35.5181 15.7489Z"
          fill="#D72B27"
        />
        <defs>
          <linearGradient
            id="paint0_linear"
            x1="12.1294"
            y1="33.2319"
            x2="35.9752"
            y2="33.2319"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-opacity="0.1" />
            <stop offset="1" stop-opacity="0.2" />
          </linearGradient>
        </defs>
      </svg>
    </a>
  )
}

<!-- SVG de Whatsapp -->
{
  type === "whatsapp" && (
    <a
      href="https://api.whatsapp.com/send?phone=56968058495&text=Hola,%20me%20interesa%20tu%20producto!"
      target="_blank"
      rel="noopener noreferrer"
      class="h-8 w-8 transition-all duration-300 ease-in-out hover:scale-120"
    >
      <svg
        width="48"
        height="48"
        viewBox="0 0 48 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48Z"
          fill="#25D366"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M24.7911 37.3525H24.7852C22.3967 37.3517 20.0498 36.7524 17.9653 35.6154L10.4 37.6L12.4246 30.2048C11.1757 28.0405 10.5186 25.5855 10.5196 23.0702C10.5228 15.2017 16.9248 8.79999 24.7909 8.79999C28.6086 8.80164 32.1918 10.2879 34.8862 12.9854C37.5806 15.6828 39.0636 19.2683 39.0621 23.0815C39.059 30.9483 32.6595 37.3493 24.7911 37.3525ZM18.3159 33.0319L18.749 33.2889C20.5702 34.3697 22.6578 34.9415 24.7863 34.9423H24.7911C31.3288 34.9423 36.6499 29.6211 36.6525 23.0807C36.6538 19.9112 35.4212 16.9311 33.1817 14.689C30.9422 12.4469 27.964 11.2115 24.7957 11.2104C18.2529 11.2104 12.9318 16.5311 12.9292 23.0711C12.9283 25.3124 13.5554 27.4951 14.7427 29.3836L15.0248 29.8324L13.8265 34.2095L18.3159 33.0319ZM31.4924 26.154C31.7411 26.2742 31.9091 26.3554 31.9808 26.4751C32.0699 26.6238 32.0699 27.3378 31.7729 28.1708C31.4756 29.0038 30.051 29.764 29.3659 29.8663C28.7516 29.9582 27.9741 29.9965 27.1199 29.725C26.602 29.5607 25.9379 29.3413 25.0871 28.9739C21.7442 27.5304 19.485 24.2904 19.058 23.678C19.0281 23.6351 19.0072 23.6051 18.9955 23.5895L18.9927 23.5857C18.804 23.3339 17.5395 21.6468 17.5395 19.9008C17.5395 18.2582 18.3463 17.3973 18.7177 17.001C18.7432 16.9739 18.7666 16.9489 18.7875 16.926C19.1144 16.569 19.5007 16.4797 19.7384 16.4797C19.9761 16.4797 20.2141 16.4819 20.4219 16.4924C20.4475 16.4937 20.4742 16.4935 20.5017 16.4933C20.7095 16.4921 20.9686 16.4906 21.2242 17.1045C21.3225 17.3407 21.4664 17.691 21.6181 18.0604C21.9249 18.8074 22.264 19.6328 22.3236 19.7522C22.4128 19.9307 22.4722 20.1389 22.3533 20.3769C22.3355 20.4126 22.319 20.4463 22.3032 20.4785C22.2139 20.6608 22.1483 20.7948 21.9967 20.9718C21.9372 21.0413 21.8756 21.1163 21.814 21.1913C21.6913 21.3407 21.5687 21.4901 21.4619 21.5965C21.2833 21.7743 21.0975 21.9672 21.3055 22.3242C21.5135 22.6812 22.2292 23.8489 23.2892 24.7945C24.4288 25.8109 25.4192 26.2405 25.9212 26.4582C26.0192 26.5008 26.0986 26.5352 26.1569 26.5644C26.5133 26.7429 26.7213 26.713 26.9294 26.4751C27.1374 26.2371 27.8208 25.4338 28.0584 25.0769C28.2961 24.7201 28.5339 24.7795 28.8607 24.8984C29.1877 25.0176 30.9408 25.8801 31.2974 26.0586C31.367 26.0934 31.4321 26.1249 31.4924 26.154Z"
          fill="#FDFDFD"
        />
      </svg>
    </a>
  )
}
