---
const { titulo, descripcion, imagen } = Astro.props;
---

<div
  class="flex flex-col items-center gap-2 bg-gray-700/5 p-4 transition-all duration-300 hover:scale-105 hover:shadow-md"
>
  <img src={imagen} alt={titulo} class="h-60 w-full object-contain" />
  <h3 class="text-theme-negro text-lg font-semibold uppercase">{titulo}</h3>
  <p class="text-theme-gris text-md text-center text-pretty">{descripcion}</p>
</div>
