<section
  id="top"
  class="mx-auto mt-14 flex scroll-mt-34 justify-start 2xl:mt-52 2xl:max-w-7xl 2xl:scroll-mt-80"
>
  <div class="mb-8 w-full">
    <h2
      class="font-titulo ps-10 text-3xl font-bold uppercase 2xl:ps-0 2xl:text-7xl"
    >
      Top Productos
    </h2>
    <p class="text-theme-gris mt-1 ps-10 text-sm 2xl:ps-0 2xl:text-base">
      Descubre nuestros productos más destacados, diseñados con amor y
      dedicación.
    </p>
    <div class="mt-20 flex w-full justify-center gap-4">
      <img
        class="aspect-square w-52 rounded-full bg-rose-700/5 bg-cover bg-center p-12"
        src="/producto1-removebg-preview.png"
        alt=""
      />
      <img
        class="aspect-square w-52 rounded-full bg-rose-700/5 bg-cover bg-center p-12"
        src="/producto2-removebg-preview.png"
        alt=""
      />
      <img
        class="aspect-square w-52 rounded-full bg-rose-700/5 bg-cover bg-center p-12"
        src="/producto3-removebg-preview.png"
        alt=""
      />
      <img
        class="aspect-square w-52 rounded-full bg-rose-700/5 bg-cover bg-center p-12"
        src="/producto4-removebg-preview.png"
        alt=""
      />
      <img
        class="aspect-square w-52 rounded-full bg-rose-700/5 bg-cover bg-center p-12"
        src="/producto1-removebg-preview.png"
        alt=""
      />
    </div>
  </div>
</section>
