<section id="top" class="mx-auto mt-52 flex max-w-7xl justify-start">
  <div class="mb-8 w-full">
    <h2 class="font-titulo text-7xl font-bold uppercase">Top Productos</h2>
    <p class="text-theme-gris mt-1 md:text-xl">
      Descubre nuestros productos más destacados, diseñados con amor y
      dedicación.
    </p>
    <div class="mt-20 flex w-full justify-between">
      <img
        class="aspect-square w-52 rounded-full bg-rose-700/5 bg-cover bg-center p-12"
        src="/producto1-removebg-preview.png"
        alt=""
      />
      <img
        class="aspect-square w-52 rounded-full bg-rose-700/5 bg-cover bg-center p-12"
        src="/producto2-removebg-preview.png"
        alt=""
      />
      <img
        class="aspect-square w-52 rounded-full bg-rose-700/5 bg-cover bg-center p-12"
        src="/producto3-removebg-preview.png"
        alt=""
      />
      <img
        class="aspect-square w-52 rounded-full bg-rose-700/5 bg-cover bg-center p-12"
        src="/producto4-removebg-preview.png"
        alt=""
      />
      <img
        class="aspect-square w-52 rounded-full bg-rose-700/5 bg-cover bg-center p-12"
        src="/producto1-removebg-preview.png"
        alt=""
      />
    </div>
  </div>
</section>
