---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";

import "../styles/global.css";

interface Props {
  titulo: string;
  descripcion: string;
}

const { titulo, descripcion } = Astro.props as Props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="#" />
    <title>{titulo}</title>
    <meta name="description" content={descripcion} />

    <!-- Open Graph / Facebook Meta Tags -->
    <meta
      property="og:url"
      content="https://andreita-confecciones.vercel.app/"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Andreita Confecciones | Accesorios hechos a mano con amor"
    />
    <meta
      property="og:description"
      content="Accesorios originales como scrunchies, estuches y bolsos, hechos a mano en Chile. Diseños únicos para personas auténticas. ¡Conócenos!"
    />
    <meta
      property="og:image"
      content="https://andreita-confecciones.vercel.app/og-image.webp"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:domain"
      content="andreita-confecciones.vercel.app"
    />
    <meta
      property="twitter:url"
      content="https://andreita-confecciones.vercel.app/"
    />
    <meta
      name="twitter:title"
      content="Andreita Confecciones | Moda artesanal con estilo"
    />
    <meta
      name="twitter:description"
      content="Scrunchies, bolsos y accesorios confeccionados a mano en Chile. Diseños exclusivos con identidad."
    />
    <meta
      name="twitter:image"
      content="https://andreita-confecciones.vercel.app/og-image.webp"
    />

    <ClientRouter />
    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"
    ></script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
